<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>index</title>
		
		<link rel="stylesheet" type="text/css" href="/media/css/forms.css"/>
		<link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/widgets.css"/>
		
		
		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="/media/js/core.js"></script>
		<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
		<script type="text/javascript" src="/media/js/getElementsBySelector.js"></script>
		<script type="text/javascript" src="/media/js/actions.js"></script>
		<script type="text/javascript" src="/media/js/SelectBox.js"></script>
		<script type="text/javascript" src="/media/js/SelectFilter2.js"></script>
		<script type="text/javascript" src="/media/js/calendar.js"></script>
		<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
	</head>
	
	<body id="index">
		
	{% block content %}
		
	{% endblock %}
	</body>
</html>