<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>index</title>
		<style type="text/css">
			body {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 13px;
			}
			.dataform-field {
				margin: 20px;
			}
			.uploadFile {
				display: inline;
				padding: 5px;
				background: #EEE;
				border: 1px solid #CCC;
			}		
			.uploadFile.hover {
				background: #EEE;
			}
		</style>
		{% block script %}
		{% endblock %}
	</head>
	
	<body id="index">
		{% block content %}
		{% endblock %}
	</body>
</html>