{% extends "base.html" %}

{% block content %}
		<div id="name" style="margin: 30px;">
			<h1>Collection sample</h1>
			<p>These forms have been dynamically created from database definitions.<p>
			<strong>See the <a href="{% url index %}">single form demo</a>.</strong>
			
			<form action="." method="post">
			    {% for form in forms %}
			    	<h2>{{ form.meta.title }}</h2>
			    	<h2>{{ form.meta.description }}</h2>
				    {% for field in form %}
					    {% if not field.is_hidden %}
					        <div class="form-row">
					            {{ field.errors }}
					            {{ field.label_tag }}
					            {{ field }}
					        </div>
					    {% else %}
				            {{ field }}
					    {% endif %}
				    {% endfor %}
			    {% endfor %}
			    
			    <input type="submit" value="Save" />
	        </form>
		</div>
{% endblock %}
