{% extends "base.html" %}

{% block content %}
		<div id="name" style="margin: 30px;">
			<h1>Form sample</h1>
			<p>This form has been dynamically created from a database definition. See the <a href="{% url form_collection %}">form collection</a> demo.<p>
			{% if form.non_field_errors %}<ul class="errorlist">{{ form.non_field_errors.as_ul }}</ul>{% endif %}
			<form action="." method="post" accept-charset="utf-8" enctype="multipart/form-data">
				{% for field in form %}
					{% if not field.is_hidden %}
						<div class="form-row">
							{{ field.errors }}
							{{ field.label_tag }}
							{{ field }}
						</div>
					{% else %}
						{{ field }}
					{% endif %}
				{% endfor %}
				<p><input type="submit" value="Submit"></p>
			</form>
		</div>
{% endblock %}
